name: Generator
on: [push, pull_request]
permissions:
  contents: read
jobs:
  migrate:
    name: npm-test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - run: git config --global user.name "JHipster Bot"; git config --global user.email "jhipster-bot@jhipster.tech"; git config --global init.defaultBranch main
      - run: npm ci
      - run: npm run test
